<div
  id='destini-locator-4659'
  class='destini-locator-class'
  data-locator-id='4659'
  data-alpha-code='1233'
></div>

<script src='https://lets.shop/productFirstSnippet.js' charset='utf-8'></script>

{% schema %}
{
  "name": "Store Finder (Destini)",
  "tag": "section",
  "class": "destini-store-finder",
  "settings": [],
  "presets": [
    {
      "name": "Store Finder",
      "category": "Utility"
    }
  ]
}
{% endschema %}
