<div class="page-width pear-pdp">
  <p class="pear-label">Find in Store</p>
  <div id="pear-pdp-target">
</div>

<style>
  .pear-pdp {
    scroll-margin-top: 400px;
    margin: auto;
    width: 400px;
    max-width: 80vw;
    padding: 80px 0;    
  }

  .pear-label {
    font-size: calc(1em + 2vw);
    color: #002554;
    margin: 0;
    font-weight: bold;
  }
</style>

<script type="text/javascript">
  (e=>{d=document,s=d.createElement("script"),s.src="//offers.pearcommerce.com/js/sdk.js?config=" + encodeURIComponent(JSON.stringify(e)),d.head.appendChild(s)})
  ({ "vendorId": "2804239238059793", "widget": "retailer-list" })
</script>

{% schema %}
{
  "name": "Pear Product Locator",
  "settings": [],
  "presets": [
    {
      "name": "Pear Product Locator"
    }
  ]
}
{% endschema %}